a {
  color: white;
}
div#output {
  border: 1px solid gray;
  width: 100%;
  height: 200px;
  background-color: white;
}

.top-margin {
  margin-top: 20px;
}
.bottom-margin {
  margin-bottom: 60px;
}

.inline-b {
  display: inline-block;

}

.bottom-v{
  transform: translateY(100%);

}

.top-top-margin {
  margin-top: 0;
  padding-top: 10px;
  font-size: 30px;
  border-bottom: 1px solid black;
}

#clipboard {
  padding: 13px;
  background-color: black;
  color: white;
}

*{
  font-weight: 200;
  }
label[for] {
  font-size: 16px;
  font-weight: 300;

}
label[for="digit"] {
  font-size: 20px;
  font-weight: 400;
}
input#foo{
  opacity: 0;
}
